
.Project{
    background-color: #333533;
    margin-top: 18em;
}
.Heading{
    font-size: 7.5em;
    font-weight: bold;
    text-align: center;
    top: 6em;
    color: #ffffff;
}

.Heading2{
    font-size: 2.2em;
    font-weight: medium;
    color: #ffffff;
}
