.TOP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}
.Heading{
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    font-size: 7rem;
    font-weight: bold;
}

