.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 8em;
}
.Image {
  max-width: 40%;
}

.RealImage {
  border-radius: 20px;
}

.Desc {
  
  margin-left: 2.5em;
  width: 40%;
}
.Title {
  
  font-size: 3rem;
  font-weight: bold;
}
.info {
  padding-top: 0.5em;

  font-size: 1.2rem;
}

.worked {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1em;
}

.Visit {
  background-color: black;
  color: white;
  padding: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.link {
  display: flex;
  padding-top: 0.5em;
  gap: 1em;
  align-items: center;
}

.Visit:hover {
  background-color: rgb(0, 255, 242);
  color: black;
}
