.TOP {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Heading {
  font-size: 7rem;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
