/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');     */

.hero{
    display: flex;
    
    margin-top: 10%;
    width: 100%;
    justify-content: space-around;
}

.hero2nd{
    display: flex;
    flex-direction: row;
}

.ImageContainer{
    margin-top: -3%;
}