/* Basic Styling */

.text{
  background-image: linear-gradient(to right, #f50581, #f81337);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  background-size: 300%;
  background-position: -100%;  
  animation: animatedText 3s infinite alternate-reverse;
  
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

