.TOP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.Heading {
  margin: 0 auto;
  display: flex;
  align-items: left;
  font-size: 7rem;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 50%;
}

.Desc {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1em;
  max-width: 50%;
}
