
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf");
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

*{
    font-family: 'NeueMontreal';
    
}
/* PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif */