@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.otf");
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}
html {
  background-image: linear-gradient(to right, #08e6ea, #2af598, #ffea00);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  font-family: "NeueMontreal";
  box-sizing: border-box;
}
/* PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif */
